@using CORE.Entities;
@model List<Car>

@{
    ViewData["Title"] = "Account Details";
    var userName = User.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
    var profilePictureUrl = User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/account.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="about-section">
        <h1>@ViewData["Title"]</h1>
        <div class="profile-info">
            <img src="@profilePictureUrl" alt="Profile Photo" class="profile-photo2" />
            <p>User: @userName</p>
        </div>
        <div class="license-plate-box">
            @if (Model.Count > 0)
            {
                <p>Your license plates</p>
                <ol>
                    @foreach (Car car in Model)
                    {
                        <li>@car.LicensePlate</li>
                    }
                </ol>
            }
            else
            {
                <p class="license-plate-text">No license plates added.</p>
            }
        </div>
        <button class="offline-button" onclick="confirmOffline()">Sign out</button>
    </div>

    <script>
        function confirmOffline() {
            if (confirm("Are you sure you want to sign out?")) {
                window.location.href = '@Url.Action("Logout", "Account")';
            }
        }
    </script>
</body>
</html>
