<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- FontAwesome (voor iconen in bottom navigation) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Jouw eigen CSS bestanden -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loaders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Bottom Navigation Bar -->
    <nav class="navbar fixed-bottom navbar-light bg-light border-top">
    <div class="container-fluid justify-content-around">
        <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a>
        <a class="nav-link" href="@Url.Action("About", "Home")"><i class="fas fa-info-circle"></i></a>
        <a class="nav-link" href="@Url.Action("RegisterPlate", "Home")"><i class="fas fa-car"></i></a>
        <a class="nav-link" href="@Url.Action("Payment", "Home")"><i class="fas fa-regular fa-credit-card"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            // Hier nemen we aan dat de profielfoto URL beschikbaar is als een claim
            var profilePictureUrl = User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value;
            if (!string.IsNullOrEmpty(profilePictureUrl))
            {
                <a class="nav-link" href="@Url.Action("About", "Home")"><img src="@profilePictureUrl" alt="Profile" style="height: 24px; width: 24px; border-radius: 50%;" /></a>
            }
            else
            {
                // Backup in geval er geen profielfoto URL beschikbaar is
                <a class="nav-link" href="@Url.Action("About", "Home")"><i class="fas fa-user"></i></a>
            }
        }
        else
        {
            <a class="nav-link" href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt"></i> Login</a>
        }
    </div>
</nav>


    <footer class="border-top footer text-muted">
        
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Loaders.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
